h1,
h2,
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    font-size: 60px;
    background-color: #0a009b;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}